[submodule "3rd/SDL"]
	path = 3rd/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
[submodule "3rd/CynicScript"]
	path = 3rd/CynicScript
	url = https://github.com/Sqazine/CynicScript.git
	branch = main
